@model PasswordManager.Core.Models.UserViewModels
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Kullanıcı Bilgileri</h6>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Kullanıcı Adı</label>
                        <input type="text" class="form-control" asp-for="UserName" id="exampleInputEmail1"
                               aria-describedby="emailHelp" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Şifre</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" asp-for="Password" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Şirket</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" asp-for="CompanyName" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Pozisyon</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" asp-for="LevelName" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Kullanıcı Oluşturulma Tarihi</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" asp-for="CreationDate" readonly>
                    </div>                   
                    @* <button type="submit" class="btn btn-primary">Güncelle</button> *@
                </form>
            </div>
        </div>
    </div>
</div>

