@model PasswordManager.Core.Entity.Password
@{
    ViewData["Title"] = "PasswordAdd";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Şifre Oluştur</h6>
                <form asp-action="PasswordAdd" method="post">
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Şifre</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" asp-for="PasswordValue">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Şifre Kategori</label>
                        <select class="form-select mb-3" asp-for="CategoryID" aria-label="Default select example">
                            <option selected>Seçiniz..</option>
                            @foreach (var item in ViewBag.Category)
                            {
                                <option value="@item.CategoryID">@item.CategoryName</option>
                            }
                        </select>
                    </div>                  
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Şifre Level</label>
                        <select class="form-select mb-3" asp-for="LevelID" aria-label="Default select example">
                            <option selected>Seçiniz..</option>
                            @foreach (var item in ViewBag.Level)
                            {
                                <option value="@item.LevelID">@item.LevelName</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>

